Repository UptickNetwork/uptick, pull requests merged in 2022-05, with the labels that each got.

#37 Add IBCERC20
  Makefile
  app/app.go
  cmd/uptickd/ibcCaclulate.go
  cmd/uptickd/root.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  ibc/module.go
  ibc/utils.go
  ibc/utils_test.go
  proto/uptick/erc20/v1/erc20.proto
  proto/uptick/erc20/v1/event.proto
  proto/uptick/erc20/v1/tx.proto
  scripts/protocgen.sh
  x/erc20/client/cli/tx.go
  x/erc20/client/proposal_handler.go
  x/erc20/genesis.go
  x/erc20/ibc_middleware.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/grpc_query_test.go
  x/erc20/keeper/ibc_hook.go
  x/erc20/keeper/intergation_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
  x/erc20/proposal_handler.go
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/event.pb.go
  x/erc20/types/genesis.go
  x/erc20/types/genesis_test.go
  x/erc20/types/ibc.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
  x/erc20/types/token_pair.go
  x/erc20/types/token_pair_test.go
  x/erc20/types/tx.pb.go
Labels: Type: Docs, Type: Build, C:Proto, C:CLI

#46 update
  app/app.go
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/uptick/erc20/v1/erc20.proto
  proto/uptick/erc20/v1/event.proto
  proto/uptick/erc20/v1/tx.proto
  x/erc20/client/cli/tx.go
  x/erc20/client/proposal_handler.go
  x/erc20/genesis.go
  x/erc20/keeper/grpc_query_test.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
  x/erc20/proposal_handler.go
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/genesis.go
  x/erc20/types/genesis_test.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
  x/erc20/types/token_pair.go
  x/erc20/types/token_pair_test.go
  x/erc20/types/tx.pb.go
Labels: Type: Docs, C:Proto, C:CLI

#45 Release v0.2.0
  CHANGELOG.md
  app/app.go
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  contracts/package-lock.json
  contracts/package.json
  docs/package.json
  package.json
Labels: Type: Docs, C:CLI
